#### 3 facts to know about HTML to start with web scraping:

1) HTML consists of tags that mark-up the text.

2) HTML tags can have attributes (and attributes have value) which are specified in the opening tag.

3) HTML tags can be nested.

Master url:
https://www.cia.gov/library/publications/the-world-factbook/docs/rankorderguide.html

In [4]:
import requests  
import re
from bs4 import BeautifulSoup  
import pandas as pd
from functools import reduce
import numpy as np

In [2]:
def makeDF(column_name, url):
    
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')  
    results = soup.find_all('tr', attrs={'class':re.compile('rankorder*')})

    records = []
    for result in results:
        country = result.find('a').contents[0]
        feature = result.find('td').next_sibling.next_sibling.next_sibling.next_sibling.contents[0]

        records.append((country, feature))

    return pd.DataFrame(records, columns=['COUNTRY', column_name])

In [3]:
features = [{'column name':'POPULATION', 
             'url': 'https://www.cia.gov/library/publications/the-world-factbook/fields/335rank.html'},
            {'column name':'BIRTH RATE', 
             'url': 'https://www.cia.gov/library/publications/the-world-factbook/fields/345rank.html'}, 
            {'column name':'DEATH RATE', 
             'url': 'https://www.cia.gov/library/publications/the-world-factbook/fields/346rank.html'}, 
            {'column name':'MEDIAN AGE', 
             'url': 'https://www.cia.gov/library/publications/the-world-factbook/fields/343rank.html'}, 
            {'column name':'GDP', 
             'url': 'https://www.cia.gov/library/publications/the-world-factbook/fields/211rank.html'},
            {'column name':'UNEMPLOYMENT RATE', 
             'url': 'https://www.cia.gov/library/publications/the-world-factbook/fields/220rank.html'}
            ]

In [4]:
dfs = [] 
for feature in features:
    df = makeDF(feature['column name'], feature['url'])
    dfs.append(df)

In [5]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='COUNTRY'), dfs)
df_final

,COUNTRY,POPULATION,BIRTH RATE,DEATH RATE,MEDIAN AGE,GDP,UNEMPLOYMENT RATE
0,China,"1,394,015,977",11.60,8.20,38.4,"$18,200",3.90
1,India,"1,326,093,247",18.20,7.30,28.7,"$7,200",8.50
2,United States,"332,639,102",12.40,8.30,38.5,"$59,800",4.40
3,Indonesia,"267,026,366",15.40,6.60,31.1,"$12,400",5.40
4,Pakistan,"233,500,636",27.40,6.20,22.0,"$5,400",6.00
...,...,...,...,...,...,...,...
209,Nauru,"11,000",21.90,6.00,27.0,"$12,300",23.00
210,Cook Islands,"8,574",13.30,9.00,38.3,"$16,700",13.10
211,"Saint Helena, Ascension, and Tristan da Cunha","7,862",9.40,8.30,43.2,"$7,800",14.00
212,Montserrat,"5,373",11.70,6.00,34.8,"$34,000",5.60
213,Saint Pierre and Miquelon,"5,347",6.70,10.90,48.5,"$46,200",8.70

In [6]:
df_final.sort_values('COUNTRY', inplace=True)
df_final.reset_index(drop=True, inplace=True)
df_final

,COUNTRY,POPULATION,BIRTH RATE,DEATH RATE,MEDIAN AGE,GDP,UNEMPLOYMENT RATE
0,Afghanistan,"36,643,815",36.70,12.70,19.5,"$2,000",23.90
1,Albania,"3,074,579",13.00,7.10,34.3,"$12,500",13.80
2,Algeria,"42,972,878",20.00,4.40,28.9,"$15,200",11.70
3,American Samoa,"49,437",17.80,5.90,27.2,"$11,200",29.80
4,Andorra,"77,000",7.00,7.70,46.2,"$49,900",3.70
...,...,...,...,...,...,...,...
209,Wallis and Futuna,"15,854",12.70,5.70,34.0,"$3,800",8.80
210,West Bank,"2,900,034",25.20,3.40,21.9,"$4,300",27.90
211,Yemen,"29,884,405",25.80,5.60,19.8,"$2,500",27.00
212,Zambia,"17,426,623",40.40,11.60,16.9,"$4,000",15.00
213,Zimbabwe,"14,546,314",33.60,9.30,20.5,"$2,300",11.30

In [7]:
df_final.dtypes

COUNTRY              object
POPULATION           object
BIRTH RATE           object
DEATH RATE           object
MEDIAN AGE           object
GDP                  object
UNEMPLOYMENT RATE    object
dtype: object

In [8]:
# Formatting the POPULATION and GDP

df_final['POPULATION'] = df_final['POPULATION'].apply(lambda s: s.replace(',', ''))
df_final['POPULATION'] = df_final['POPULATION'].apply(lambda x: float(x))

df_final['GDP'] = df_final['GDP'].apply(lambda s: s.replace(',', ''))
df_final['GDP'] = df_final['GDP'].apply(lambda s: s.replace('$', ''))
df_final['GDP'] = df_final['GDP'].apply(lambda x: float(x))

In [9]:
df_final.to_csv('countries_data.csv')

In [10]:
df = pd.read_csv('countries_data.csv', index_col=0)
df

,COUNTRY,POPULATION,BIRTH RATE,DEATH RATE,MEDIAN AGE,GDP,UNEMPLOYMENT RATE
0,Afghanistan,36643815.0,36.7,12.7,19.5,2000.0,23.9
1,Albania,3074579.0,13.0,7.1,34.3,12500.0,13.8
2,Algeria,42972878.0,20.0,4.4,28.9,15200.0,11.7
3,American Samoa,49437.0,17.8,5.9,27.2,11200.0,29.8
4,Andorra,77000.0,7.0,7.7,46.2,49900.0,3.7
...,...,...,...,...,...,...,...
209,Wallis and Futuna,15854.0,12.7,5.7,34.0,3800.0,8.8
210,West Bank,2900034.0,25.2,3.4,21.9,4300.0,27.9
211,Yemen,29884405.0,25.8,5.6,19.8,2500.0,27.0
212,Zambia,17426623.0,40.4,11.6,16.9,4000.0,15.0
213,Zimbabwe,14546314.0,33.6,9.3,20.5,2300.0,11.3

In [11]:
df.dtypes

COUNTRY               object
POPULATION           float64
BIRTH RATE           float64
DEATH RATE           float64
MEDIAN AGE           float64
GDP                  float64
UNEMPLOYMENT RATE    float64
dtype: object

In [12]:
df.isnull().sum()

COUNTRY              0
POPULATION           0
BIRTH RATE           0
DEATH RATE           0
MEDIAN AGE           0
GDP                  0
UNEMPLOYMENT RATE    0
dtype: int64

In [13]:
for feature in df.columns:
    print(feature)
    print(df[feature].unique())

COUNTRY
['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burma'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo, Republic of the' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon'
 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada'
 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Korea, North' 'Korea, South'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macau'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Federated States of' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Namibia' 'Nauru'
 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger'
 'Nigeria' 'Northern Mariana Islands' 'Norway' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena, Ascension, and Tristan da Cunha' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten' 'Slovakia' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Turks and Caicos Islands' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Virgin Islands'
 'Wallis and Futuna' 'West Bank' 'Yemen' 'Zambia' 'Zimbabwe']
POPULATION
[3.66438150e+07 3.07457900e+06 4.29728780e+07 4.94370000e+04
 7.70000000e+04 3.25223390e+07 1.80900000e+04 9.81790000e+04
 4.54791180e+07 3.02132400e+06 1.19428000e+05 2.54664590e+07
 8.85944900e+06 1.02058100e+07 3.37721000e+05 1.50500300e+06
 1.62650853e+08 2.94560000e+05 9.47791800e+06 1.17207160e+07
 3.99598000e+05 1.28646340e+07 7.17500000e+04 7.82318000e+05
 1.16399090e+07 3.83558600e+06 2.31723300e+06 2.11715973e+08
 3.73810000e+04 4.64478000e+05 6.96689900e+06 2.08354010e+07
 5.65900710e+07 5.83255000e+05 1.69269840e+07 2.77449890e+07
 3.76940850e+07 6.19440000e+04 5.99085500e+06 1.81867700e+07
 1.39401598e+09 4.90848410e+07 8.46281000e+05 5.29307000e+06
 8.57400000e+03 5.09798800e+06 2.74810860e+07 4.22774600e+06
 1.10590620e+07 1.51345000e+05 1.26667600e+06 1.07024980e+07
 5.86941000e+06 9.21804000e+05 7.42430000e+04 1.04997070e+07
 1.69048670e+07 1.04124440e+08 6.48110200e+06 8.36178000e+05
 6.08119600e+06 1.22862400e+06 1.10447900e+06 1.08113150e+08
 5.16280000e+04 9.35974000e+05 5.57166500e+06 6.78481560e+07
 2.95121000e+05 2.23090800e+06 3.99700000e+06 8.01596620e+07
 2.93402480e+07 2.95810000e+04 1.06070510e+07 5.76160000e+04
 1.13094000e+05 1.68485000e+05 1.71532880e+07 6.70520000e+04
 1.25274400e+07 7.50204000e+05 1.10677770e+07 9.23534000e+06
 7.24990700e+06 9.77182700e+06 3.50734000e+05 1.32609325e+09
 2.67026366e+08 8.49233140e+07 3.88726550e+07 5.17656900e+06
 9.04990000e+04 8.67547500e+06 6.24026590e+07 2.80857000e+06
 1.25507472e+08 1.01073000e+05 1.08206440e+07 1.90919490e+07
 5.35279360e+07 1.11796000e+05 2.56434660e+07 5.18351100e+07
 1.93277400e+06 2.99370600e+06 5.96489700e+06 7.44739600e+06
 1.88123200e+06 5.46961200e+06 1.96933400e+06 5.07329600e+06
 6.89053500e+06 3.91370000e+04 2.73146400e+06 6.28381000e+05
 6.14458000e+05 2.12597100e+06 2.69557370e+07 2.11966290e+07
 3.26520830e+07 3.91904000e+05 1.95533970e+07 4.57267000e+05
 7.79170000e+04 4.00547500e+06 1.37936500e+06 1.28649565e+08
 1.02436000e+05 3.36449600e+06 3.90000000e+04 3.16802600e+06
 6.09859000e+05 5.37300000e+03 3.55616540e+07 3.00981970e+07
 2.63007300e+06 1.10000000e+04 3.03278770e+07 1.72803970e+07
 2.90009000e+05 4.92547700e+06 6.20344100e+06 2.27723610e+07
 2.14028302e+08 5.14330000e+04 5.46743900e+06 2.33500636e+08
 2.16850000e+04 3.89408200e+06 7.25945600e+06 7.19168500e+06
 3.19149890e+07 1.09180815e+08 3.82823250e+07 1.03026740e+07
 3.18906800e+06 2.44417400e+06 2.13028930e+07 1.41722205e+08
 1.27124310e+07 7.86200000e+03 5.38210000e+04 1.66487000e+05
 5.34700000e+03 1.01390000e+05 2.03774000e+05 3.42320000e+04
 2.11122000e+05 3.41734980e+07 1.57363680e+07 7.01216500e+06
 9.59810000e+04 6.62493300e+06 6.20966000e+06 4.38470000e+04
 5.44060200e+06 2.10267800e+06 5.64636170e+07 5.00157920e+07
 2.28892010e+07 4.55615560e+07 6.09569000e+05 1.02024910e+07
 8.40399400e+06 1.93984480e+07 2.36030490e+07 8.87366900e+06
 5.85528450e+07 6.89774000e+07 1.38372300e+06 8.60844400e+06
 1.06095000e+05 1.20878900e+06 1.17211770e+07 8.20175140e+07
 5.52862700e+06 5.59260000e+04 4.32529660e+07 4.39229390e+07
 9.99208300e+06 6.57611170e+07 3.32639102e+08 3.38760500e+06
 3.05654110e+07 2.98333000e+05 2.86446030e+07 9.87212750e+07
 1.06235000e+05 1.58540000e+04 2.90003400e+06 2.98844050e+07
 1.74266230e+07 1.45463140e+07]
BIRTH RATE
[36.7 13.  20.  17.8  7.  42.7 12.2 15.4 16.  11.9 12.1 12.4  9.5 14.5
 14.8 12.7 18.1 11.3 11.1 22.  42.1 11.2 16.3 20.8  8.6 20.9 13.6 16.5
  8.3 35.1 17.  19.1 21.3 36.3 10.2 33.2 13.1 11.6 23.6 32.6 13.3 29.1
  8.7 10.4 13.4 10.9  8.9 22.7 18.5 27.2 18.6 30.7 27.9  9.3 24.5 31.6
 14.9 17.4 10.6 14.  26.3 29.6 13.8  7.8 14.1 14.6 18.9 23.3  9.8 36.1
 15.5 21.7  8.4  8.8 18.2 25.7 10.8 17.6 16.1  7.3 23.  16.4 20.5  8.2
 18.  20.6 22.4  9.2 23.2 37.3  7.9 10.7 29.9 40.1 18.3 42.2  9.9 22.8
 29.  12.6  6.4 16.6 11.5 11.7 17.9 38.6 21.9 11.  12.8 17.1 47.5 34.6
 15.1 27.4 22.5 22.9  8.1  8.   8.5 10.   9.4 12.5  6.7 19.6 29.7 14.7
 31.8 35.4 12.9 19.2 14.2 33.8 10.5 23.8 21.8 32.  21.  11.4 15.9 42.3
  9.6 25.2 25.8 40.4 33.6]
DEATH RATE
[12.7  7.1  4.4  5.9  7.7  8.5  4.8  5.8  7.4  9.5  8.7  6.9  9.8  7.
  2.8  5.5  8.8 13.1  4.1  8.4  9.1  6.3 10.2  9.2  5.4  3.8 14.6  8.2
  7.2  7.3  8.1  7.9  6.1 12.3  6.5  5.6  9.   4.9 12.8 10.7  8.   5.2
 12.9 10.1 10.3  9.6 11.  12.1  6.6  8.6 12.   8.3  6.   7.5  4.7  5.3
  3.9  6.8 10.4  3.4  9.4  2.3 15.4  3.5  7.8 15.   6.2  4.3 12.6 10.8
  5.7  5.1  6.7 10.6  1.6 13.4 10.9  7.6 13.5  3.6  9.3  4.5  6.4 14.
  2.   4.  11.6]
MEDIAN AGE
[19.5 34.3 28.9 27.2 46.2 15.9 35.7 32.7 32.4 36.6 39.9 37.5 44.5 32.6
 32.8 32.9 27.9 39.5 40.9 41.6 23.9 17.  43.6 29.1 25.3 43.3 25.7 33.2
 37.2 31.1 43.7 17.9 29.2 26.8 26.4 18.5 41.8 40.5 20.  35.5 38.4 31.2
 20.9 38.3 20.3 43.9 42.1 36.7 37.9 42.  24.9 34.9 28.8 24.1 27.7 23.7
 19.8 29.9 42.8 41.7 33.3 21.  38.6 47.8 21.4 45.3 29.4 23.2 44.3 19.1
 27.5 24.4 45.6 37.1 28.7 31.7 21.2 37.8 44.6 30.4 46.5 48.6 23.5 31.6
 34.6 43.2 30.5 29.7 27.3 24.  44.4 33.7 24.7 18.  25.8 40.8 39.  16.8
 29.5 16.  42.3 23.8 36.3 29.3 26.3 37.7 55.4 29.8 39.6 34.8 21.8 27.
 14.8 18.6 22.  33.9 30.1 41.9 42.5 40.3 19.7 36.5 36.9 48.5 35.3 25.6
 45.2 19.3 30.8 19.4 43.4 36.8 35.6 41.1 44.9 28.  18.3 31.  42.7 18.2
 19.6 32.2 15.7 41.2 40.6 38.5 23.  30.  31.9 34.  21.9 16.9 20.5]
GDP
[  2000.  12500.  15200.  11200.  49900.   6800.  12200.  26400.  20900.
   9500.  37500.  50400.  50000.  17500.  32400.  49000.   4200.  18600.
  18900.  46600.   8300.   2300.  99400.   9000.   7600.  12800.  17000.
  15600.  34200.  78900.  21800.   1900.   6300.   7000.   4000.   3700.
  48400.  43800.    700.  24600.  18200.  14400.   1600.  16700.  16900.
   3900.  24700.  12300.  15000.  37200.  35500.  50100.   3600.  11000.
  11500.  12700.   8000.  37400.  31700.  10100.   2200.  40000.   9800.
  44500.  44100.  18100.  10700.  50800.   4700.  61700.  27800.  41800.
  15100.  35600.   8200.  52500.   8100.   1800.   5600.  64500.  29600.
  52200.   7200.  12400.  20100.  73200.  84600.  36400.  38200.   9200.
  42900.  56600.  26300.   3500.   1700.  39500.  10900.  65800.   7400.
  27700.  19600.   3300.   1300.   9600. 139100. 105100. 122000.  14900.
   1200.  29100.  19200.  41900.   4500.  22300.  19900.   3400.   6700.
 115700.  13700.  17800.  34000.   8600.   2700.  53900.  31100.  39000.
   5900.  24500.  72100.   5400.  14700.  25400.  13500.   8400.  30500.
  39400. 124100.  27900.   2100.   7800.  28200.  46200.   5700.  59000.
   3200.  54500.  29300.  94100.  66800.  33100.  34500.  13600.  38400.
  12900.   4300.  51200.  62100.   2900.  50500.  17900.   6000.  31300.
  11900.  27000.   2400.   8800.  68600.  44300.  59800.  22400.   6900.
  37000.   3800.   2500.]
UNEMPLOYMENT RATE
[23.9 13.8 11.7 29.8  3.7  6.6  8.  11.   8.4 18.9  7.7  5.6  5.5  5.
 10.1  3.6  4.4  0.8  7.1  9.   1.   7.   3.2  4.  20.5 20.  12.8  2.9
  6.9  6.2 77.   0.3  4.3  6.3  6.7  3.9  9.3  6.5 36.  13.1  8.1  9.4
 12.4  2.6 13.  11.1  5.7 40.  23.   5.1  4.6 12.2  8.6  5.8 28.  17.5
  2.2  4.5  8.5 21.8 11.8  3.8 11.9 21.5  9.1 24.   2.3  1.2  2.7 40.6
  3.1  4.2  2.8  5.4 16.   1.1 11.3 18.3 30.6 25.6 30.5  0.7  8.7  9.7
 28.1 30.   2.4  2.  22.4  1.8 20.4  3.4  7.9 10.2 16.2  4.1 16.1 24.5
 34.   3.   4.9 14.7  4.7  6.4 16.5 11.2  6.   1.7  2.5  8.9 10.8  5.2
 14.  18.8 48.  14.1 15.  12.  27.5 17.2 19.6 50.  10.3 15.5 10.9 10.
  9.2  1.6  7.6 27.1 10.4  8.8 27.9 27. ]

### From Worldometer

In [36]:
url = 'https://www.worldometers.info/coronavirus/#countries'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
results = soup.find_all('tr', attrs={'style': ''})

In [57]:
results[2].find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]

'64'

In [59]:
records = []
for result in results:
    try:
        country = result.find_all('a')[0].contents[0]
        total_cases= result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.contents[0]
        new_cases = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        total_deaths = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        new_deaths = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        total_recovered = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        new_recovered = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        active_cases = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        serious_cases = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        total_cases_per1M = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        deaths_per1M = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        total_tests = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        tests_per1M = result.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        population = result.find_all('a')[1].contents[0]
        #one_caseresult.find('td', attrs={'style':re.compile('font-weight*')}).next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.contents[0]
        
        records.append((country, total_cases, new_cases, total_deaths, new_deaths, total_recovered, new_recovered, 
                        active_cases, serious_cases, total_cases_per1M, deaths_per1M, total_tests, tests_per1M, population))
    except:
        continue
        
        
columns = ['Country', 'Total Cases', 'New Cases', 'Total Deaths', 'New Deaths', 'Total Recovered', 'New Recovered', 
           'Active Cases', 'Serious Cases', 'Total Cases (per 1M)', 'Deaths (per 1M)', 'Total Tests', 'Tests (per 1M)', 'Population']
        
df = pd.DataFrame(records, columns=columns)

for col in columns[1:]:
    df[col] = df[col].apply(lambda s: np.nan if s=='N/A' else float(s.replace(',', '')))
df.to_csv('worldometer.csv')

In [4]:
# df.dtypes

In [3]:
# df.head(12)

In [2]:
# top_affected_countries = df['Country'].head(12)

In [1]:
# ntop = 12
# df.iloc[0:ntop, :].set_index('Country')[['Total Cases', 'Total Deaths']].plot(kind='bar', figsize=(12,5), grid=True, logy=True)